{% extends 'layout.html' %}

{% block body %}

	<div class="container">
		<br>
		<div class="card text-center">
			<div class="card-header">
			About Me
			</div>
			<div class="card-body">
				<h5 class="card-title"> Know more about me</h5>
				<p class="card-text">You can contact me via one of the links below</p>
				<a href="http://fb.com/celyes17" target="_blank" class="text-primary"><span class="fa fa-facebook-official fa-2x"></span></a>
				&nbsp;
				&nbsp;
				<a href="http://twitter.com/celyes01" target="_blank" class="text-info"><span class="fa fa-twitter fa-2x"></span></a>
				&nbsp;
				&nbsp;
				<a href="http://linkedin.com/in/celyes" target="_blank" class="text-dark"><span class="fa fa-linkedin fa-2x"></span></a>
				&nbsp;
				&nbsp;
				<br>
				<br>
				<a href="http://github.com/celyes" target="_blank" class="btn btn-success"><span class="fa fa-github"></span> Github</a>
			</div>
			
		</div>
		<br>
	</div>

{% endblock %}